@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Estadísticas de Covid por Región  y Provincia<a href="https://rapidapi.com/es/axisbits-axisbits-default/api/covid-19-statistics/"></a>.</p>
    <p>Para ver los registros por favor selecciona la pestaña de Regiones</p>
</div>
